<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <!-- Do not manually edit appSettings section, all taken care from GUI -->
    <appSettings>
        <!-- Enable or disable automatic power plan switching based on idle time -->
        <add key="AutoSwitchEnabled" value="true" />
        
        <!-- Power plan GUID to switch to when computer is idle, while plugged in -->
        <add key="IdlePowerPlan" value="381b4222-f694-41f0-9685-ff5bb260df2e" />
        
        <!-- Power plan GUID to switch to when computer is in active use, while plugged in -->
        <add key="ActiveUsePowerPlan" value="381b4222-f694-41f0-9685-ff5bb260df2e" />

        <!-- Power plan GUID to switch to when computer is idle, while on battery -->
        <add key="IdlePowerPlanBatt" value="381b4222-f694-41f0-9685-ff5bb260df2e" />

        <!-- Power plan GUID to switch to when computer is in active use, while on battery -->
        <add key="ActiveUsePowerPlanBatt" value="381b4222-f694-41f0-9685-ff5bb260df2e" />
		
        <add key="IdleTimeoutMinutes" value="3" />
        <add key="SwitchWhenLocked" value="False" />
		<add key="ShowNotifications" value="True"/>
    </appSettings>
</configuration>